
playerColours = {
  red: red,
  blue: blue,
  green: green,
  yellow: yellow,
  pink: pink,
  orange: orange,
  black: black,
  white: white
}

guild = {
  action: #316484,
  highlight: #0b8855,
  delete: #c01c3b
}
