.users-list {
  opacity: 0;
  transition: opacity .32s ease-in;

  &.loaded {
    opacity: 1;
  }
}


.user-card {

  .info {
    position: relative;
  }

  .win-ratio {
    position: absolute;
    top: 0;
    right: 0;
  }

  .name {
    margin-bottom: 10px;
  }

  .most-wins {

    .games {
      margin-right: 7px;
    }

    .count {
      font-size: 12px;
      font-weight: bold;
      color: #777;
    }
  }

  .all-games {
    font-size: 12px;
    margin-top: 10px;
  }
}
