.user-card {

  .info {
    position: relative;
  }

  .win-ratio {
    position: absolute;
    top: 0;
    right: 0;
  }

  .name {
    margin-bottom: 10px;
  }

  .wins {

  }

  .most-wins {

    .games {
      margin-right: 7px;
    }

    .count {
      font-size: 12px;
      font-weight: bold;
      color: #777;
    }
  }

  .nemesis {

  }
}
