* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  font-family: sans-serif;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
}
.container {
  margin: 15px;
}
.content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
input {
  height: 30px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  outline: 0;
}
button {
  border: none;
  background: none;
  outline: 0;
  cursor: pointer;
}
.big-action-button {
  width: 100%;
  border: none;
  height: 30px;
  background: #316484;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.action-button {
  color: #316484;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.tabs {
  width: 600px;
}
.tabs-menu {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.tabs-menu-item {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 3px -1px 3px;
  font-size: 12px;
  color: #316484;
}
.tabs-menu-item.is-active {
  color: #333;
  cursor: default;
  border-bottom: 2px solid #0b8855;
  font-weight: bold;
}
.card {
  padding: 20px;
  background: #f9f9f9;
  margin-bottom: 15px;
}
.card h2 {
  margin: 20px 0 15px 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.card.user-card h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 10px 0;
  text-transform: none;
}
.card .header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.card .image {
  width: 80px;
  height: 120px;
  background: #eee;
  margin-right: 10px;
}
.card .id {
  font-size: 12px;
  margin-bottom: 5px;
}
.card .date {
  margin-top: 7px;
  font-size: 12px;
}
.card .type {
  position: absolute;
  bottom: 0;
}
.card .info input {
  display: block;
  margin-bottom: 10px;
  max-width: 150px;
}
.new-event-player {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 10px;
}
.new-event-player .Select {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.new-event-player > input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.new-event-player input {
  margin-left: 10px;
}
.players-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.add-player {
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  font-size: 12px;
  color: #0b8855;
}
.add-player:before {
  display: inline-block;
  content: "+";
  font-size: 24px;
  color: #0b8855;
  font-weight: bold;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  margin-right: 5px;
}
.remove-player {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.remove-player:before,
.remove-player:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 14px;
  height: 13px;
  width: 3px;
  background: #c01c3b;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -o-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}
.remove-player:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.remove-player:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.Select {
  position: relative;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 28px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  cursor: text;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.Select-placeholder,
:not(.Select--multi) > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value .Select-placeholder {
  color: #333;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
  color: #333;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.Select-input {
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  background: none transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  height: 28px;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -moz-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  -ms-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  -webkit-animation: Select-animation-fadeIn 200ms;
  -moz-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  -ms-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
  padding: 0 5px;
}
.Select-clear-zone:hover {
  color: #d0021b;
}
.Select-clear {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
/* HIDE THIS */
  display: none;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: calc(100% - 1px);
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: rgba(0,126,255,0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #ccc;
  cursor: default;
}
.Select-noresults {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: rgba(0,126,255,0.08);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(0,126,255,0.24);
  color: #007eff;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid rgba(0,126,255,0.24);
  padding: 1px 5px 3px;
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@-moz-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.event-players li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  background: #fff;
  margin-bottom: 5px;
}
.event-players .winner {
  border: 1px solid #ffd700;
}
.event-players .name {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.event-players .points {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.event-players .ranking {
  font-size: 12px;
  width: 30px;
  text-align: center;
}
.event-players .name {
  margin-left: 10px;
}
.event-players .colour {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  content: "";
  height: 20px;
  width: 20px;
  background: #ccc;
}
.event-players .red .colour {
  background-color: #f00;
}
.event-players .blue .colour {
  background-color: #00f;
}
.event-players .green .colour {
  background-color: #008000;
}
.event-players .yellow .colour {
  background-color: #ff0;
}
.event-players .pink .colour {
  background-color: #ffc0cb;
}
.event-players .orange .colour {
  background-color: #ffa500;
}
.event-players .black .colour {
  background-color: #000;
}
.event-players .white .colour {
  background-color: #fff;
}
.event-players .white .colour {
  border: 1px solid #ccc;
}
.show-hide-new-event {
  position: relative;
}
.show-hide-new-event .action-button.add-new-event {
  margin-bottom: 20px;
}
.show-hide-new-event.showdismiss .dismiss {
  display: block;
}
.show-hide-new-event .dismiss {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 100;
  width: 14px;
  height: 14px;
  padding: 5px;
}
.show-hide-new-event .dismiss:before,
.show-hide-new-event .dismiss:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 5px;
  height: 10px;
  width: 2px;
  background: #aaa;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -o-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  pointer-events: none;
}
.show-hide-new-event .dismiss:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.show-hide-new-event .dismiss:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.users-list {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.32s ease-in;
  -moz-transition: opacity 0.32s ease-in;
  -o-transition: opacity 0.32s ease-in;
  -ms-transition: opacity 0.32s ease-in;
  transition: opacity 0.32s ease-in;
}
.users-list.loaded {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.user-card .info {
  position: relative;
}
.user-card .win-ratio {
  position: absolute;
  top: 0;
  right: 0;
}
.user-card .name {
  margin-bottom: 10px;
}
.user-card .most-wins .games {
  margin-right: 7px;
}
.user-card .most-wins .count {
  font-size: 12px;
  font-weight: bold;
  color: #777;
}
.user-card .all-games {
  font-size: 12px;
  margin-top: 10px;
}
