.event-players {

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--row-height);
    background: #fff;
    margin-bottom: 10px;
  }

  .winner {
    border: 1px solid gold;
  }

  .name {
    flex: 2;
  }

  .points {
    flex: 1;
  }

  .ranking {
    font-size: 12px;
    width: 30px;
    text-align: center;
  }

  .name {
    margin-left: 10px;
  }

  .colour {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background: #ccc;
  }

  .red .colour {background-color: var(--playerRed)}
  .blue .colour {background-color: var(--playerBlue)}
  .green .colour {background-color: var(--playerGreen)}
  .yellow .colour {background-color: var(--playerYellow)}
  .pink .colour {background-color: var(--playerPink)}
  .orange .colour {background-color: var(--playerOrange)}
  .black .colour {background-color: var(--playerBlack)}
  .white .colour {background-color: var(--playerWhite)}

  /*for name, color in playerColours {
    .{name} .colour {
      background-color: color;
    }
  }*/

  .white .colour {
    border: 1px solid #ccc;
  }
}
