.event-card {

  .header {
    display: flex;
    margin-bottom: 20px;
  }

  .image {
    width: 80px;
    height: 120px;
    background: #eee;
    margin-right: 10px;
  }

  .id {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .date {
    margin-top: 10px;
  }

  .users li {
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #fff;
  }

  .winner {
    margin-top: 10px;
    font-size: 13px;

    > .name {
      font-weight: bold;
    }
  }
}
